@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}
  
.fullheight {
  height: vh(100);
}

.toasted-container .toasted {
  justify-content: center !important;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: white;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: white;
}